body{
    background-color: black;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#parent{
    display: flex;
    justify-content: center;
    align-items: center;
}